.bounding-boxes
{
	position: absolute;
	border:3px solid rgb(75, 233, 54);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
    z-index: 3;
}

.face
{
	left:30%;

}
#img-result{
   max-width: 95%;
   max-height:95%;
   margin:auto auto;
}
